@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    684 Richmond Terrace<br />
    New West South-East, ZX 6554-546-897<br />
    <abbr title="Phone">P:</abbr>
    124.805.985
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:philldellow@gmail.com">Enter the priority queue</a><br />
    <strong>Marketing:</strong> <a href="mailto:philldellow@gmail.com">Tell us how great we did</a>
</address>