@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   15 Walter Street<br />
    New West South-East, Wellingtown<br />
    <abbr title="Phone">P:</abbr>
    124.805.985
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:philldellow@gmail.com">Click here to enter the priority queue.</a><br />
    <strong>Marketing:</strong> <a href="mailto:philldellow@gmail.com">Or to tell us how great we did.</a>
</address>.