@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CartPhill</h1>
    <p class="lead">A tireless servant to help you spend your money.</p>
    <p><a href="https://www.google.co.nz/search?q=shopping&es_sm=93&tbm=isch&tbo=u&source=univ&sa=X&ei=yQAAVd_FE4uE8gWNh4KwCw&ved=0CDoQsAQ&biw=1366&bih=667" class="btn btn-primary btn-lg">Learn more about shopping &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Shopping - the cornerstone of western civilisation</h2>
        <p>
            Nothing says more about you than what you buy. Here a CartPhill, we hope to bring you the ultimate in shopping experience.
            Become a more successful human today with CartPhill
        </p>
        <p><a class="btn btn-default" href="http://media0.giphy.com/media/JG4iKdJamPHNK/giphy.gif">Customer Ratings &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Products</h2>
        <p>Because CartPhill is a virtual shopping cart, you can never fill it up, what better excuse are you waiting for?</p>
        <p><a class="btn btn-default" href="http://blog.photoshelter.com/wp-content/uploads/2012/03/10clw9c1.gif">Customer Satisfaction &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Shop anywhere</h2>
        <p>Whether you're having a sneaky peek at work or on the train home, CartPhill allows for a dynamic shopping experience, anywhere, anytime</p>
        <p><a class="btn btn-default" href="http://media.giphy.com/media/mIZ9rPeMKefm0/giphy.gif">Customer Loyalty &raquo;</a></p>
    </div>
</div>